'.source.js':
  'CommonJS require':
    'prefix': 'req'
    'body': 'const ${1:module} = require(\'${1:module}\')$0'
  'Function':
    'prefix': 'fun'
    'body': """
      function ${1:function_name} (${2:argument}) {
        ${0:// body...}
      }
    """
  'Tape test':
    'prefix': 'test'
    'body': """
      test(\'$1\', function (assert) {
        assert.ok($0)
        assert.end()
      })
    """
  'Transform stream':
    'prefix': 'transform'
    'body': """
      new stream.Transform({
        ${1:objectMode: true,}
        ${2:transform (obj, _, cb) \{
          $0
          cb()\}
        }
      })
    """
  'Callback':
    'prefix': 'cb'
    'body': """
      function (err, ${1:res}) {
        if (err) return console.error(err)
        $0
      }
    """
  'log':
    'prefix': 'log'
    'body': 'console.log($1)$0'
  'warn':
    'prefix': 'warn'
    'body': 'console.warn($1)$0'
  'error':
    'prefix': 'error'
    'body': 'console.error($1)$0'
  'inspect':
    'prefix': 'inspect'
    'body': 'console.dir($0, { color: true, depth: null })'
  'self':
    'prefix': 'self'
    'body': 'const self = this'
