'.source.js':
  'CommonJS require':
    'prefix': 'req'
    'body': 'const ${1:module} = require(\'${1:module}\')$0'
  'Function':
    'prefix': 'fun'
    'body': """
      function ${1:function_name} (${2:argument}) {
        ${0:// body...}
      }
    """
  'Tape test':
    'prefix': 'test'
    'body': """
      test(\'$1\', function (assert) {
        assert.ok($0)
        assert.end()
      })
    """
  'Transform stream':
    'prefix': 'transform'
    'body': """
      new stream.Transform({
        ${1:objectMode: true,}
        ${2:transform (obj, _, cb) \{
          $0
          cb()\}
        }
      })
    """
  'Callback':
    'prefix': 'cb'
    'body': """
      function (err, ${1:res}) {
        if (err) return console.error(err)
        $0
      }
    """
  'log':
    'prefix': 'log'
    'body': 'console.log($1)$0'
  'warn':
    'prefix': 'warn'
    'body': 'console.warn($1)$0'
  'error':
    'prefix': 'error'
    'body': 'console.error($1)$0'
  'inspect':
    'prefix': 'inspect'
    'body': 'console.dir($0, { color: true, depth: null })'
  'self':
    'prefix': 'self'
    'body': 'const self = this'
'.source.json':
  'Cloudformation Template':
    'prefix': 'cf'
    'body': """
      {
        "AWSTemplateFormatVersion": "2010-09-09",
        "Description": "$1",
        "Metadata": {$2},
        "Parameters": {$3},
        "Mappings": {$4},
        "Conditions": {$5},
        "Resources": {$0},
        "Outputs": {$6}
      }
    """
  'Cloudformation Resource':
    'prefix': 'cf resource'
    'body': """
      "${1:LogicalID}": {
        "Type": "${2:AWS::$3::$4}",
        "Properties": {
          $0
        }
      }
    """
  'Cloudformation Metadata':
    'prefix': 'cf metadata'
    'body': """
      "${1:AWS::CloudFormation::Interface}": {
        "ParameterGroups": [
          ${2:{
            "Label": {"default": "$3"\\},
            "Parameters": ["$4"]
          \\}}
        ],
        "ParameterLabels": {$0}
      }
    """
  'Cloudformation Output':
    'prefix': 'cf output'
    'body': """
      "${1:LogicalID}": {
        "Description": "$2",
        "Value": {"Ref": "${3:ResourcesLogicalID}"}
      }
    """
  'Cloudformation Parameter':
    'prefix': 'cf parameter'
    'body': """
      "${1:ParameterKey}": {
        "Type": "${2:String|Number|List<Number>|CommaDelimitedList|AWS::...}",
        "Description": "$3",
        "Default": "$4",
        ${5:"NoEcho": false,
        "ConstraintDescription": "",
        "AllowedValues": [],
        "AllowedPattern": "",
        "MaxLength": 256,
        "MinLength": 0,
        "MaxValue": 1e36,
        "MinValue": -1e36}
      }
    """
